project:
  type: website
  output-dir: docs
  pre-render: generate_repo_listing.py

website:
  title: ""
  page-navigation: true
  favicon: images/emc_favicon.png
  
  page-footer: 
    center: "[CC0 1.0 License](LICENSE.md)"
  
  navbar:
    right:
      - text: "Contribute"
        menu:
          # - text: "About"
          #   href: 
          - text: "Add workflow manuals"
            href: contribute/add_manuals.qmd
    
    left:
      - text: "Home"
        href: index.qmd
      - text: "Workflows"
        href: workflows.qmd
      - icon: github
        menu:
          - text: Source code
            url: https://github.com/LucvZon/EMC-Viroscience.github.io
          - text: Report a bug
            url: https://github.com/LucvZon/EMC-Viroscience.github.io/issues/new?assignees=&labels=bug&projects=&template=bug-report.yml&title=bug
          - text: Report a documentation issue
            url: https://github.com/LucvZon/EMC-Viroscience.github.io//issues/new?assignees=&labels=documentation&projects=&template=docs-issue.yml&title=docs
          - text: Submit a feature request
            url: https://github.com/LucvZon/EMC-Viroscience.github.io/issues/new?assignees=&labels=enhancement&projects=&template=feature-request.yml&title=feat
      
  sidebar: # Define a list of sidebar configurations
    - id: id-imam
      title: "Illumina metagenomic analysis manual"
      style: "docked"
      contents:
        - auto: posts/IMAM*.qmd

    - id: id-naam
      title: "Nanopore amplicon analysis manual"
      style: "docked"
      contents:
        - auto: posts/NAAM*.qmd
          
format:
  html:
    css: styling/custom.css
    include-after-body:
      - text: |
          <script src="styling/custom.js"></script>
    toc: true
    number-sections: false
    theme:
      dark: darkly
      light: flatly